[user]
	email = ravernkoh@gmail.com
	name = Ravern Koh
[push]
	autoSetupRemote = true
[http]
	postBuffer = 1048576000
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[core]
	hooksPath = /Users/ravern/.config/git/hooks
